{% if session.username %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<h1>Welcome {{ session.username }}!</h1>

<p>
This is the question show!
<hr>
<a href="/new">Send a new question -></a>
<p>
<form action="/search_for" method="GET">
    Search for topics: <input type="text" name="query">
    <br>
    <input type="submit" value="Search">
</form>
<p>
<a href="/questions">See all available questions</a>
<p>
<a href="/get_question">Answer a random existing question -></a>
<p>
<a href="/logout">Logout</a>
<p>
{% else %}
<p>Username:</p>
<form action="/login" method="POST">
<input type="text" name="username"></p>
<p>Password:</p>
<input type="password" name="password"></p>
<input type="submit" value="Login">
</form>
<p>
<a href="/create">Create new user</a>
</body>
{% endif %}